---
login_user: ubuntu
app_locale: en
git_user: 
git_password: 
site_fqdn: mindwodemo.localhost
user_name: mindwo
user_password: mindwo_password

# db_user should not be equal to user_name, since it has limited privileges
db_user: dbuser
db_user_password: dbpassword
mysql_phpmyadmin_password: mysqlphpmyadminpassword

php_version: 7.1

tomcat_user: tomcat
tomcat_user_password: tomcat_password
tomcat_port: 8080

# --- Uncoment line below if private certificate is used for SSH connecting
# ansible_ssh_private_key_file: ~/certs/demors.key

# --- Uncoment lines below if no certificate for SSH
# ansible_password: qwZX$%dkR#!
# ansible_sudo_pass: qwZX$%dkR#!